<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.globally_quoted_identifiers">true</property>
    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://online-exam-server.database.windows.net:1433;databaseName=OnlineExamSystem</property>
    <property name="hibernate.connection.username">MinhCT</property>
    <property name="hibernate.connection.password">Administrator$PRJ321</property>
    <property name="hibernate.dialect">util.hibernate.SQLServerExtendedDialect</property>
    <property name="hibernate.show_sql">false</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.hbm2ddl.auto">validate</property>
    <mapping resource="model/Attempt.hbm.xml"/>
    <mapping resource="model/Course.hbm.xml"/>
    <mapping resource="model/Choice.hbm.xml"/>
    <mapping resource="model/Group.hbm.xml"/>
    <mapping resource="model/Question.hbm.xml"/>
    <mapping resource="model/Permission.hbm.xml"/>
    <mapping resource="model/Account.hbm.xml"/>
    <mapping resource="model/Test.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
